/* Show it is fixed to the top */
body {
  min-height: 100%;
  padding-top: 5.2rem;
  background-color: #fafafa;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

/*等于这个尺寸才会执行 iphone 5/se的尺寸*/
@media screen and (device-width: 320px) {
  body {
    padding-top: 3.5rem;
  }

  header strong {
    font-size: 1.25rem;
  }

  .jumbotron .display-3 {
    font-size: 3.5rem;
  }
}

/*markdown编辑器下划线去除*/
.markdown-body textarea:hover, .markdown-body textarea {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*文章内容填充100%*/
.markdown-body {
  min-width: 100%;
}

/*将header的z-index调大以免markdown编辑器滚动时遮挡header*/
header .fixed-top {
  z-index: 2000;
}

/*----纯css瀑布流布局代码----*/
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: transparent;
  z-index: 200;
  padding: 10px;
}

div#columns figure {
  background: #ffffff;
  margin: 0 2px 15px;
  padding-bottom: 10px;
  transition: all 0.3s ease-out 0s;
  display: inline-block;
  border-radius: 2px;
  column-break-inside: avoid;
  overflow: visible;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

div#columns figure img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div#columns figure:hover {
  background: #FFFFFF;
  box-shadow: 1px -1px 17px 3px rgba(15, 37, 64, .10);
  border-radius: 2px;
  z-index: 2;
}

div#columns figure img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

#columns .card-text {
  font-size: 19px;
  font-weight: 400;
}

@media screen and (max-width: 999px) {
  #columns {
    column-gap: 0;
    padding: 20px;
  }

  #columns figure {
    width: 100%;
  }

  /*手机端header下拉栏并列*/
  .dropdown {
    display: inline-block;
  }
}

/*纯css瀑布流布局代码结束*/

/*上传组件美化 copy 数字尾巴-*/
.select_cover_btn {
  width: 100%;
  height: 86px;
  background: #f2f2f2;
}

.select_cover_btn button {
  height: 86px;
  border: none;
  background: none;
  color: #CDCFD0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 100px;
}

.select_cover_btn .btnInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 86px;
}

.select_cover_btn button .btnInfo i {
  font-size: 35px;
  top: 0;
}

.select_cover_btn button .btnInfo span {
  font-size: 16px;
  color: #CDCFD0;
  letter-spacing: 0;
  line-height: 86px;
}

/*上传组件美化 copied from 数字尾巴 --结束--*/

/*文章页面样式 --开始--*/
.article {
  margin-bottom: 200px;
  position: relative;
  overflow-x: hidden;
}

.article .cover {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.article .article-info {
  color: #FFFFFF;
  position: absolute;
  padding: 10px;
  top: 6rem;
}

.article .article-title {
  word-break: break-all;
  top: 6rem;
  font-size: 5em;
  font-weight: bold;
}

.article .category {
  top: 12rem;
  font-size: 2em;
}

.article .article-title:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.article .category .info > span {
  font-size: 16px;
}

.article p {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.article table {
  text-align: center;
}

.article .article-content {
  margin-top: 15px;
  padding: inherit;
}

/*markdown插件点击全屏预览图片*/
/*.v-note-img-wrapper img {
  max-width: 60% !important;
}*/

/*markdown插件点击帮助需要减去header的高度*/
.v-note-help-wrapper {
  margin-top: 80px;
}

/*评论区*/
.comment img {
  max-width: 50%;
  margin-top: 5px;
  border-radius: 2px;
}

.comment .comment-index {
  float: right;
}

/*手机端*/
@media screen and (max-width: 999px) {
  /*header优化*/
  .header-post, .header-msg, .header-user {
    display: inline-block;
  }

  /*文章页面*/
  .article .article-info {
    color: #000000b3;
  }
  .article .article-info,.article .article-content {
    position: relative;
    top: 2rem;
  }

  .article .article-title {
    font-size: 2.3em;
  }

  .article .category {
    font-size: 1em;
  }

  .article .info {
    display: block;
  }
  .article .category .info > span {
    font-size: 0.8em;
  }

  .v-note-img-wrapper img {
    max-width: 70% !important;
  }

  /*评论区图片*/
  .comment img {
    max-width: 100%;
  }

  /*评论顺序*/
  .comment .comment-index {
    float: none;
  }

  /*评论人、评论时间等*/
  .comment .comment-desc {
    max-width: 90%;
  }

  /*手机端首页滚动大图*/
  .carousel-inner {
    height: 300px;
  }

  .carousel-inner img {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    width: 1920px;
    height: 300px;
  }

  /*手机端首页滚动大图 结束*/
}

/*代码块优化*/
.comment pre {
  max-width: 75%;
  overflow: auto;
}

/*代码块结束*/

/*文章页面样式结束*/

/*返回顶部组件*/
.vm-back-top {
  z-index: 5000;
}

/*返回顶部组件结束*/
